.page--header {
    background-color: #FAFAFA;
}

body {
    background-color: #ecefee;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p{
    font-family: 'Montserrat', sans-serif;
    color: #4b6758;
    font-weight: 500;
}

/*products*/
.product--card {
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card--title{
    min-height: 3rem;
}

/*cart*/
#cart{
    padding: 60px 60px;
}

#cart .container{
    max-width: 650px;
}

/*reviews*/
#reviews {
    background-color: #bdd4ad;
    padding: 60px 60px;
}

.reviews--card {
    padding: 20px 0px;
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2);

    width: 100%;
    max-width: 320px;
    height: 100%;

    transition: transform 0.5s, box-shadow 0.5s;
}

.reviews--card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 14px 28px rgba(0,0,0,0.18);
}


.card--img--top{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/*contacto*/
#contact {
    background-color: #4b6758;
    padding: 60px 60px;
}


input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 300;
}

.contact--card {
    padding: 30px 40px;
    border: none;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}


/*footer*/
.page--footer {
    background-color: #3D3D3D;
    background-color: #4b6758;
    background-color: #0b0e09;
    color: #FFFAEC;
    width: 100%;
    min-height: 8vh;
    text-align: center;
    font-size: smaller;
    padding: 2.5rem 0;
}

.footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    height: 100%;
}

.icons--list {
    gap: 20px;
}

.icons--list li a {
    color: #FFFAEC;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icons--list li a:hover {
    color: #bdd4ad;
}

.copyright {
    margin: 0;
    color: #FFFAEC;
}

.links--list {
    list-style: none;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* Media Queries */
@media(max-width: 600px){
    /*contacto*/
    #contact {
        background-color: #4b6758;
        padding: 10px 10px;
    }
}