.page--header {
    background-color: #FAFAFA;
}

body {
    background-color: #ecefee;
    /*background-color: #e8eee4; */
    font-family: 'Roboto', sans-serif;
    color: #3D3D3D;
    min-height: 100vh;
}

/*footer*/
.page--footer {
    background-color: #3D3D3D;
    background-color: #4b6758;
    background-color: #0b0e09;
    color: #FFFAEC;
    width: 100%;
    min-height: 8vh;
    text-align: center;
    font-size: smaller;
    padding: 2.5rem 0;
}

.footer--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    height: 100%;
}

.icons--list {
    gap: 20px;
}

.icons--list li a {
    color: #FFFAEC;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icons--list li a:hover {
    color: #bdd4ad;
}

.copyright {
    margin: 0;
}

.links--list {
    list-style: none;
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 0;
    margin: 0;
}


/*contacto*/
#contact {
    background-color: #4b6758;
}

input,
textarea,
button {
    padding: 8px 15px;
    border-radius: 5px;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 18px;
    font-weight: 300
}

.contact--card {
    padding: 30px 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: none !important;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2)
}