* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

ul{
    padding:0;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background-color: #ecefee;
    /*background-color: #e8eee4; */
    font-family: 'Roboto', sans-serif;
    color: #3D3D3D;    
    min-height: 100vh;
}

h1, h2, h3, legend, nav a {
    font-family: 'Montserrat', sans-serif;
    color: #4b6758;
    font-weight: 550;
}

h2{
    margin:revert;
}

fieldset {
  border: 2px solid #FFFAEC;
  padding: 1rem;
  min-width: 0; /* evita que uno se achique distinto al otro */
}

button {
  background-color: #bdd4ad;
  border-radius: 4px;
  color: black;
  border: none;
  padding: 0.6rem 1rem;
  font-weight: 600;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

button:hover {
  background-color: #91b877;
}


.page--header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: end;
    background-color: #FAFAFA;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
}

#video--promo {
    width: 50%;
    max-width: 500px;
    height: auto;
}

.video--container{
    display: flex;
    justify-content: center;
}

.links--list{
    list-style: none;
    display: flex;
    justify-content: end;
    width: 100%;
}

.nav--list li a{
    text-decoration: none;
    color: #556B2F;
    padding: 0.6rem 2.25rem;
    display: block;
}

.nav--list li a:hover {
    background-color: #4b6758;
    color: #FAFAFA;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.logo{
    justify-self: start;
    width: 170px;
    height: auto;
    padding: 0.1rem 0.5rem;
}


#products{
    display: flex;
    background-color: #eeeeec;
    /* background-color: #f5faf1; */
    flex-direction: column;
    width: 90%;
    justify-self: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin: 2rem;
    padding: 2rem;
}

.products--title{
    margin-left: 2rem;
}

.products--content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: flex-start;
    padding: 2rem 1rem;
}

/*todo: hacer que los titulos y botonoes esten alineados */
.product {
    width: 15rem;
    height: 25rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.product--description {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.1rem 0;
    color: #3D3D3D; 
}

.product--name{
    text-align: left;
    padding: 0.2rem 0;
    font-size: 1.1rem;


    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    word-break: break-word;
    overflow-wrap: break-word;
}

.product--image{
    width: 170px;
    height: auto;
}



.product--price{
    font-size: large;
    font-weight: 500;
    padding: 0.5rem 0;
}




#contact{
    background-color: #4b6758;
}

.contact--content{
    width: 100%;
    max-width: 900px;
    justify-self: center;
    padding: 2rem 1rem;
    margin: auto;
    color:white;
}

.fieldset--title{
    color: #FFFAEC;
    margin: 0.6rem 0.2rem;
}

.form--group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form--label {
  font-weight: 400;
  margin-left: 0.3rem;
}

.form--input{
  padding: 0.5rem;
  margin: 0.6rem 0.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: inherit;
  width: 100%;
}

.contact--buttons{
    margin: 1rem 0;
}





.page--footer{
    background-color: #3D3D3D;
    background-color: #4b6758;
    background-color: #0b0e09;
    color: #FFFAEC;
    width: 100%;
    min-height: 8vh;
    text-align: center;
    font-size: smaller;
    padding: 2.5rem 0;
}

.footer--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height:100%;
}

.icons--list{
    gap: 20px;
}

.icons--list li a{
    color: #FFFAEC;
    font-size: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icons--list li a:hover {
    color: #bdd4ad;
}

.copyright{
    margin-top: auto;
}